<div class="d-flex justify-content-end">
    <%= link_to new_survey_path, class: 'btn btn-sm btn-primary' do %>
        New Survey
    <% end %>
</div>

<div id="survey-listing" class="d-flex flex-wrap">
    <% @surveys.each do |survey| %>
      <%= render partial: 'workspace/survey_card', locals: { survey: survey } %>
    <% end %>
</div>
