<%= render 'workspace/tabs', selected: :overview, survey_count: overview.survey_count %>

<div class="text-muted text-center"><small><%= overview.query_desc %></small></div>
<div id="survey-listing" class="d-flex flex-wrap">
  <% overview.surveys.each do |survey| %>
    <%= render partial: 'workspace/survey_card', locals: { survey: survey } %>
  <% end %>
</div>
