<%= render 'workspace/tabs', selected: :overview, survey_count: overview.survey_count %>

<div>
  <%= render 'shared/reportable_stats_table', report: overview.user_stats %>
  <div class="mt-4">
    <div id="survey-listing" class="d-flex flex-wrap justify-content-start align-items-top">
      <% overview.surveys.each do |survey| %>
        <%= render partial: 'workspace/survey_card', locals: { survey: survey } %>
      <% end %>
    </div>
  </div>
</div>
