<main id="survey-submitter"></main>
<script>
  (function() {
    const surveyID = <%== reply.survey_id.to_json %>
    const replyID = <%== (reply.id || 'preview').to_json %>;
    const rootElement = document.getElementById("survey-submitter");

    const script = document.createElement("script");
    script.src = "<%= request.base_url %>/js/submitter/shell.js";
    script.onload = function() {
      dragnet.submitter.shell.init(rootElement, surveyID, replyID);
    };
    document.head.append(script);
  }.call(window))
</script>
