<% survey.paginated_records.each do |record| %>
  <tr>
    <td class="text-nowrap text-muted">
      <small><%= fmt_datetime record.created_at %></small>
    </td>
    <% survey.questions.each do |question| %>
      <td><%= answers_text record, question %></td>
    <% end %>
  </tr>
<% end %>
<tr id="the-end">
  <td colspan="<%= survey.questions.count + 1 %>">
    <%= htmx :button, { get: survey_rows_path(survey, page: survey.pager.next), target: '#the-end', swap: 'outerHTML' }, { class: 'btn btn-outline-secondary' } do %>
      Load more...
    <% end %>
  </td>
</tr>
