<%= render 'surveys/tabs', survey: survey, selected: :data %>

<div class="container-fluid" hx-ext="morph">
  <div id="data-grid-table">
    <%= render 'data_grid/table', survey: survey %>
  </div>
</div>
