<p class="text-center mt-5 mx-auto" style="max-width: 500px">
  <%= icon 'fas', 'helmet-safety', class: 'h1 text-muted' %><br>
  The smell of potential is in the air! If you're ready to get started creating your survey get your
  hardhat and <%= link_to 'click here', edit_survey_path(survey) %> or select the "Create" tab above.
</p>
