<p class="text-center mt-5 mx-auto" style="max-width: 500px">
  <%= icon 'far', 'paper-plane', class: 'h1 text-muted' %><br>
  Awesome. You've created a new survey! Now you can send out a link to your survey.
  Comeback here once you've gotten some replies to see the data you collected.
  <%= link_to 'Click here', survey_share_path(survey) %> or select the "Share" tab above.
</p>
