{:deps {:aliases [:dev :test]}
 :builds
 {:editor {:target :browser
           :output-dir "../../public/js/editor"
           :asset-path "/js/editor"
           :modules {:shell {:init-fn dragnet.editor/init}}}
  :submitter {:target :browser
              :output-dir "../../public/js/submitter"
              :asset-path "/js/submitter"
              :modules {:shell {:init-fn dragnet.submitter/init}}}
 :test {:target :browser-test
        :test-dir "../../public/js/test"}
 :ci {:target :karma
      :output-to "target/ci.js"
      :ns-regexp "-test$"}}}
