;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [cljs-http "0.1.46"]
  [com.cognitect/transit-cljs "0.8.269"]
  [com.lucasbradstreet/cljs-uuid-utils "1.0.1"]]

 :builds
 {:frontend
  {:target :browser
   :output-dir "../public/js/editor"
   :asset-path "../public"
   :modules {:main {:init-fn dragnet.editor.core/init}}
   }}
 }
