;; shadow-cljs configuration
{:deps {:aliases [:dev :test]}

 :builds
 {:frontend
  {:target :browser
   :output-dir "../../../../public/js/editor"
   :asset-path "../../../../public"
   :modules {:main {:init-fn dragnet.editor.core/init}}
   }}
 }
