<%= render 'tabs', survey: survey, selected: :edit %>

<main id="survey-editor"></main>
<script>
  (function() {
    const surveyID = <%== survey.id.to_json %>;
    const rootElement = document.getElementById("survey-editor");

    const script = document.createElement("script");
    script.src = "http://dragnet.test/js/editor/main.js?ts=" + Date.now();
    script.onload = function() {
      dragnet.editor.shell.init(rootElement, surveyID);
    };
    document.head.append(script);
  }())
</script>