<%= render 'tabs', survey: editor.survey, selected: :edit %>

<div class="container">
  <%= render 'survey_editor/tools', editor: %>
  <%= render 'survey_editor/details', survey: editor.survey %>
</div>
