<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to 'Workspace', root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create', edit_survey_path(@survey), class: 'nav-link active', 'aria-current': "page" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Results', survey_results_path(@survey), class: 'nav-link' %>
  </li>
</ul>

<main id="survey-editor"></main>
<script>
  (function() {
    const surveyID = <%== @survey.id.to_json %>;
    const rootElement = document.getElementById("survey-editor");

    const script = document.createElement("script");
    script.src = "http://dragnet.test/js/editor/main.js";
    script.onload = function() {
      dragnet.editor.shell.init(rootElement, surveyID);
    };
    document.head.append(script);
  }())
</script>