<div class="survey-listing d-flex flex-wrap">
    <% @surveys.each do |survey| %>
        <div class="survey-card card d-inline-block" style="width: 360px; margin: 7px">
            <div class="card-body">
                <div class="card-title">
                    <%= survey.name %>
                </div>
                <%= link_to 'View Data', report_path(question_ids: survey.question_ids, name: survey.name) %>
                <%= link_to 'Reply', reply_to_path(survey.short_id, survey.slug) %>
            </div>
        </div>
    <% end %>
</div>
