<%= render 'tabs', survey: survey, selected: :settings %>

<div class="container">
  <div class="card p-4 mb-4 mt-5">
    <h4 class="card-title">Visibility</h4>
    <div class="card-body">
      <%= form_switch(id: 'visibility', input_attributes: { checked: survey.public? }) do %>
        <%= survey_public_indicator(survey) %>
      <% end %>
    </div>
  </div>
  <div class="card p-4">
    <h4 class="card-title">Housekeeping</h4>
    <div class="card-body">
      <%= button_to survey_path(survey), method: :delete, class: 'btn btn-danger w-100' do %>
        Delete
      <% end %>
    </div>
  </div>
</div>