<div id="survey-details" class="card mb-4 shadow-sm-hover">
  <div class="card-body">
    <div class="card-title pb-3">
        <%= text_field_tag field_name(:survey, :name),
                           survey.name,
                           class: 'h3 border-0 w-100 border-bottom',
                           'hx-put': survey_editor_details_path(survey),
                           'hx-trigger': 'change',
                           'hx-target': '#editor',
                           'hx-vals': { authenticity_token: form_authenticity_token }.to_json
        %>
        <%= text_area_tag field_name(:survey, :description),
                          survey.description,
                          placeholder: "Description",
                          class: 'form-control',
                          rows: 3,
                          'hx-put': survey_editor_details_path(survey),
                          'hx-trigger': 'change',
                          'hx-target': '#editor',
                          'hx-vals': { authenticity_token: form_authenticity_token }.to_json
        %>
    </div>
  </div>
</div>
