<div class="mb-3 d-flex justify-content">
  <div>
    <small class="me-1 text-muted">
      <% if editor.edited? %>
        Last saved <%= time_ago_in_words editor.last_updated_at %> ago
      <% else %>
        Up to date. Saved <%= time_ago_in_words editor.last_updated_at %> ago
      <% end %>
    </small>
  </div>
</div>
