<div class="mb-3 d-flex justify-content-between align-items-center">
  <div>
    <small class="me-1 text-muted">
      <% if editor.survey_edited? %>
        Last saved <%= time_ago_in_words editor.last_updated_at %> ago
      <% else %>
        Up to date. Saved <%= time_ago_in_words editor.last_updated_at %> ago
      <% end %>
    </small>
  </div>
  <div>
    <%= button_tag 'Publish', type: 'button', class: 'btn btn-dark me-1', disabled: editor.survey_edited? %>
  </div>
</div>
