;; shadow-cljs configuration
{:deps {:aliases [:dev :test]}
 :builds
 {:editor
  {:target     :browser
   :devtools {:preloads [devtools.preload]}
   :output-dir "../../../../public/js/editor"
   :asset-path "../../../../js/editor"
   :modules    {:main {:entries [dragnet.editor.shell]}}}
  :submitter
  {:target     :browser
   :output-dir "../../../../public/js/submitter"
   :asset-path "../../../../js/submitter"
   :modules    {:main {:entries [dragnet.submitter.shell]}}}
  :test
  {:target :browser-test
   :test-dir "../../../../public/js/test"}
  :ci
  {:target :karma
   :output-to "target/ci.js"
   :ns-regexp "-test$"}}}
