.data-grid {
  vaadin-grid::part(even-row) {
    background-color: var(--bs-light);
  }
  vaadin-grid::part(cell) {
    padding: 0.2em;
    border: none;
    border-right: var(--bs-border-color) solid 1px;
  }
  vaadin-grid::part(row) {
    border: none;
    border-bottom: var(--bs-border-color) solid 1px;
  }
  vaadin-grid::part(header-row) {
    border: none;
    border-bottom: var(--bs-border-color) solid 1px;
  }
}
