@import "bootstrap/functions";
@import "bootstrap/variables";

table.stats-table {
  th {
    font-weight: normal;
  }
  td {
    margin-right: 20rem;
    font-size: 2rem;
  }
  th, td {
    padding-right: 2rem;
  }
}

$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);

.survey-card:hover {
  box-shadow: $box-shadow-sm;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
