// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import "font-awesome";

@import "data_grid";
@import "sparklines";
@import "overview";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.btn, a.dropdown-item, a.nav-link {
  text-decoration: none !important;
}
