// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import "font-awesome";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.btn {
  text-decoration: none !important;
}