// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import "font-awesome";

@import "data_grid";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.btn, a.dropdown-item, a.nav-link {
  text-decoration: none !important;
}

.sparkline {
  stroke: green;
  fill: none;
}
